<div class="sidebar-header">
  <mat-icon class="sidebar-logo">view_module</mat-icon>
  <span class="sidebar-title">SupplyChain Pro</span>
</div>
<mat-divider></mat-divider>
<div class="sidebar-search">
  <mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search modules..." (input)="filterItems($event)">
  </mat-form-field>
</div>
<mat-nav-list class="sidebar-nav">
  <a mat-list-item *ngFor="let item of filteredItems; trackBy: trackByRoute"
     [routerLink]="item.route"
     routerLinkActive="active-link"
     (click)="navigate.emit()"
     [matTooltip]="item.label" matTooltipPosition="right">
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle class="nav-label">{{ item.label }}</span>
    <span matListItemMeta *ngIf="item.badge" class="nav-badge">{{ item.badge }}</span>
  </a>
</mat-nav-list>
